.background{
  background-color: #cbd3da;
  width: 100%;
  height: 100%;
}

.input {
  width: 15rem;
  background-color: #cbd3da;
}

.form-w {
  min-width: 40rem;
  max-width: 50rem;
}

button{
  min-width: min-content;
  max-width: 5rem;
}
